@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');

:root {
    --primary-color: #f9532d;
    --primary-dark: #1F252E;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Outfit', sans-serif;
    background: #ffffff;
    height: 100vh;
    color: #000;
}

.header-logo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    vertical-align: middle;
}



/* Genral */
.container {
    padding: 0 8.4rem;
}

.img-w {
    width: 100%;
    height: auto;
}

/* Nav */
header {
    box-shadow: 0 4px 17px rgba(0, 0, 0, .1);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    opacity: 0;
    animation: leftSideAni 1s ease forwards;
}

.logo a {
    color: #000;
    text-decoration: none;
}

ul {
    display: flex;
    gap: .6rem;
    list-style-type: none;
    background-color: transparent;
    overflow: hidden;
}

li a {
    display: inline-block;
    padding: .3rem 1rem;
    color: #000;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 600;
    letter-spacing: .7px;
    border-radius: 36px;
    line-height: 2;
    transition: .3s;
    opacity: 0;
    animation: navani .3s ease forwards;
    animation-delay: calc(.15s * var(--navAni));
}

li a.active,
li a:hover {
    color: var(--primary-color);
}

#click {
    display: none;
}

.menu {
    display: none;
}

.mode i {
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--primary-color);
    opacity: 0;
    animation: rightSideAni 1.5s ease forwards;
}

/* Nav End */

/* Section 1 */

.main {
    padding: 6rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    row-gap: 2rem;
    column-gap: 6rem;
    align-items: center;
}

.main h3 {
    color: #000;
    font-size: 1.5rem;
    opacity: 0;
    animation: topSideAni 1s ease forwards;
}

.main h1 {
    color: #000;
    font-size: 4rem;
    font-weight: 600;
    opacity: 0;
    animation: leftSideAni 1s ease forwards;
    animation-delay: 1s;
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    margin-top: 1.4rem;
}

.social a {
    display: grid;
    place-items: center;
    text-decoration: none;
    color: var(--primary-color);
    border: 1.6px solid var(--primary-color);
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 0.39rem;
    text-align: center;
    opacity: 0;
    animation: SocialAni 1s ease forwards;
    animation-delay: calc(.2s * var(--socialAni));
}

.social a:hover {
    color: var(--primary-dark);
    background-color: var(--primary-color);
    box-shadow: 0 0 20px var(--primary-color);
    transition: all .3s ease-in-out;
}


.images {
    border-radius: 10px;
    width: 100%; /* Ensures the image container fits the width of its parent */
    height: auto; /* Height is set to auto to maintain aspect ratio */
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    border-top: 2px solid var(--primary-color);
    overflow: hidden; /* Ensures nothing spills outside the container */
    display: flex; /* Enables flexbox layout */
    justify-content: center; /* Centers the image horizontally */
    align-items: center; /* Centers the image vertically */
}

.images img {
    max-width: 100%; /* Ensures the image is no wider than the container */
    max-height: 100%; /* Ensures the image is no taller than the container */
    object-fit: contain; /* Resizes the image to fit within the container while maintaining its aspect ratio */
}



/* Section 1 End */


.dark-mode {
    background-color: var(--primary-dark);
    color: #ffffff;
}

.mode input {
    display: none;
}

.dark-mode .logo a, 
.dark-mode ul li a, 
.dark-mode .main h3, 
.dark-mode .main h1 {
    color: #fff;
}
.dark-mode ul li a.active, .dark-mode ul li a:hover {
    color: var(--primary-color);
}
.dark-mode .images {
    background: linear-gradient(145deg, #1f252e, #2e3239);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #1b1f27;
    border-top: 2px solid var(--primary-color);
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin: auto;
    overflow: hidden;
}

.dark-mode header {
    box-shadow: 0 4px 17px rgb(80 80 80 / 31%);
    background: var(--primary-dark);
}



/* Animation */
@keyframes leftSideAni {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes navani {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rightSideAni {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes topSideAni {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes SocialAni {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* @keyframes ImgAni {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-9px);
    }
    100% {
        transform: translateX(0);
    }
} */
@keyframes imageAni {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 4.4rem;
    }

    .main h3 {
        color: #000;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 1.6rem;
    }
}

@media screen and (max-width:600px) {
    body {
        height: auto;
    }

    header {
        height: auto;
    }

    ul {
        background: #fff;
        width: 100%;
        height: 100vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        top: 3.4rem;
        left: -100%;
        z-index: 111111;
    }

    .menu {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--primary-color);
    }

    #click:checked~ul {
        left: 0%;
        transition: all 0.3s ease;
    }
    .dark-mode .menu {
        color: var(--primary-color);
    }

    .dark-mode ul {
        background: var(--primary-dark);
    }

    .mode {
        position: absolute;
        right: 4rem;
    }
    .images {
        width: 100%;
        margin: auto;
    }

    .main {
        margin-top: 2rem;
    }
}


/* contact page */

.contact-frame {
    border: 2px solid #007bff; /* Border color for the frame */
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px; /* Rounded corners */
    background-color: #f9f9f9; /* Background color for light mode */
}

.additional-contact-info p {
    display: flex;
    align-items: center;
    margin: 5px 0;
    color: #333; /* Text color for light mode */
}

.additional-contact-info i {
    margin-right: 10px;
    color: #007bff; /* Icon color for light mode */
}

.additional-contact-info a {
    color: inherit;
    text-decoration: none;
}

.additional-contact-info a:hover {
    text-decoration: underline;
}

/* Styles for Dark Mode */
body.dark-mode .contact-frame {
    background-color: #333; /* Background color for dark mode */
    border-color: #0aaff1; /* Border color for dark mode */
}

body.dark-mode .additional-contact-info p {
    color: #ddd; /* Text color for dark mode */
}

body.dark-mode .additional-contact-info i {
    color: #0aaff1; /* Icon color for dark mode */
}

body.dark-mode .additional-contact-info a {
    color: #ddd; /* Link color for dark mode */
}

/* skills page */

.skills-section {
     /* Light background for the section */
    padding: 20px;
    text-align: center;
}

.skills-title {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333; /* Dark color for the title */
}

.skill-category {
    margin-bottom: 30px;
    margin-top: 20px;
    
}

.skill-category h3 {
    margin-top: 20px;
    font-size: 1.5em;
    margin-bottom: 20px; /* Add space below the h3 heading */
    color: #000; /* Slightly darker for subheadings */
}

.skills-list {
    display: flex;
    flex-wrap: wrap; /* Wrap items in smaller screens */
    justify-content: center;
    gap: 20px; /* Space between skill items */
    margin-bottom: 10px;
}

.skill-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #fff; /* White background for skill items */
    padding: 10px;
    border-radius: 5px; /* Slight rounding of corners */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Soft shadow for depth */
    margin-right: 10px; /* Add right margin for horizontal spacing */
}

.skill-logo {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

/* Responsive styles for tablets */
@media screen and (max-width: 768px) {
    .skills-title {
        font-size: 1.5em;
    }

    .skill-category h3 {
        font-size: 1.2em;
    }

    .skill-logo {
        width: 25px;
    }
}

/* Responsive styles for mobile phones */
@media screen and (max-width: 480px) {
    .skills-section {
        padding: 10px;
    }

    .skills-title {
        font-size: 1.2em;
        margin-bottom: 15px;
    }

    .skill-category h3 {
        font-size: 1em;
    }

    .skills-list {
        gap: 10px;
    }

    .skill-item {
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }

    .skill-logo {
        margin-right: 0;
        margin-bottom: 5px;
        width: 20px;
    }
}
/* Styles for dark mode */
    body.dark-mode .skills-section {
        color: #eee; /* Lighter text color for better readability */
    }

    body.dark-mode .skills-title, .skill-category h3 {
        color: #ddd; /* Slightly dim color for titles in dark mode */
    }

    body.dark-mode .skill-item {
        background-color: #333; /* Dark background for skill items */
        box-shadow: 0 2px 4px rgba(255,255,255,0.1); /* Light shadow for depth */
    }

    /* Adjust other styles as needed for dark mode */


/* projects.html */

.experience {
    margin: 20px;
    font-family: Arial, sans-serif;
}

.job {
    margin-bottom: 40px; /* Increased bottom margin for each job section */
    padding: 20px; /* Optional: Adds padding around each job section */
    border-bottom: 1px solid #ddd; /* Optional: Adds a subtle line between job sections */
}

.job h3 {
    color: #070606;
    font-size: 1.2em;
    margin-bottom: 10px; /* Space below the job title */
}

.job .date {
    font-style: italic;
    color: #666;
    margin-bottom: 15px; /* Space below the date */
}

.job h4 {
    margin-top: 20px;
    color: #444;
    margin-bottom: 10px; /* Space below each subheading */
}

.job ul {
    list-style-type: none; /* Change or remove if you don't want bullets */
    padding-left: 20px; 
}

.job li {
    margin-bottom: 10px; /* Space between list items */
    
}

.job ul li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
}



/* Styles for dark mode */
@media (prefers-color-scheme: dark) {
    .job h3 {
        color: #ccc;
    }

    .job .date {
        color: #aaa;
    }

    .job h4 {
        color: #bbb;
    }

    /* Optional: Change the border color for dark mode */
    .job {
        border-bottom: 1px solid #444;
    }
}

/* Responsive styles for tablets */
@media screen and (max-width: 768px) {
    .job {
        padding: 15px;
    }

    .job h3 {
        font-size: 1.1em;
    }

    /* Adjust other elements as needed */
}



/* Responsive styles for mobile phones */
@media screen and (max-width: 480px) {
    .experience {
        margin: 10px;
    }

    .job {
        margin-bottom: 20px;
        padding: 10px;
    }

    .job h3, .job h4, .job .date {
        font-size: 1em; /* Adjust if still too large or small */
    }

    .job ul {
        padding-left: 10px;
    }

    .job li {
        font-size: 0.9em;
        padding: 8px;
        margin-bottom: 8px;
    }

    /* Add any other necessary adjustments */
}


/* Work Experience and Education Sections in Light Mode */
.work-experience, .education {
    margin-bottom: 40px;
}

.work-experience h2, .education h2 {
    font-size: 26px;
    color: #333; /* Dark text color for light mode */
    text-align: left;
    margin-bottom: 20px;
}

.experience-detail, .education-detail {
    background: #f9f9f9; /* Light background for light mode */
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.experience-detail h3, .education-detail h3 {
    margin-top: 0;
    color: #007bff;
}

.experience-detail .dates, .education-detail .dates {
    color: #666;
    font-style: italic;
    margin-bottom: 10px;
}

.experience-detail p {
    margin-bottom: 15px; /* Adjust gap below paragraph */
}

.experience-detail ul {
    list-style: inside square; /* Style of bullet points */
    margin-left: 20px;
    padding-bottom: 15px; /* Adjust gap below list */
}

.experience-detail ul li {
    margin-bottom: 10px; /* Adjust gap between list items */
}

.company-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.company-logo {
    max-width: 100px; /* Adjust the width as needed */
    height: auto;
}

/* Dark Mode Styling */
body.dark-mode .work-experience h2, 
body.dark-mode .education h2 {
    color: #ddd; /* Light text color for dark mode */
}

body.dark-mode .experience-detail, 
body.dark-mode .education-detail {
    background: #333; /* Dark background for dark mode */
    color: #ccc; /* Light text color for dark mode */
}

/* Responsive Design */
@media (max-width: 768px) {
    .work-experience h2, .education h2 {
        font-size: 22px;
    }

    .experience-detail, .education-detail {
        padding: 10px;
    }
}



/* Add more styling as needed */

